body {
    width: 100%;
    background-image: url(../img/cHJpdmF0ZS9zdGF0aWMvaW1hZ2VzL3dlYnNpdGUvMjAyMy0wMS9zdjE4MjcyOC1pbWFnZS0wMy1qb2I2MTUucG5n.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    color: rgb(32, 48, 60);
    font-family: Madefor, "Helvetica Neue", Helvetica, Arial, メイリオ, meiryo, "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}
:root/*, :host, .spxThemeOverride*/ {
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 255,203,5;
    --color_4: 0,136,203;
    --color_5: 237,28,36;
    --color_6: 0,0,0;
    --color_7: 0,0,0;
    --color_8: 255,255,255;
    --color_9: 0,0,0;
    --color_10: 255,255,255;
    --color_11: 251,251,251;
    --color_12: 200,200,200;
    --color_13: 168,167,167;
    --color_14: 100,100,100;
    --color_15: 50,50,50;
    --color_16: 171,237,251;
    --color_17: 114,210,229;
    --color_18: 0,180,216;
    --color_19: 0,120,144;
    --color_20: 0,60,72;
    --color_21: 233,255,170;
    --color_22: 223,255,127;
    --color_23: 191,255,0;
    --color_24: 127,169,0;
    --color_25: 63,84,0;
    --color_26: 222,191,252;
    --color_27: 204,159,249;
    --color_28: 158,69,247;
    --color_29: 105,46,164;
    --color_30: 52,23,82;
    --color_31: 177,233,220;
    --color_32: 144,212,196;
    --color_33: 98,191,170;
    --color_34: 5,170,132;
    --color_35: 2,85,66;
    --color_36: 251,251,251;
    --color_37: 50,50,50;
    --color_38: 200,200,200;
    --color_39: 168,167,167;
    --color_40: 100,100,100;
    --color_41: 0,180,216;
    --color_42: 50,50,50;
    --color_43: 168,167,167;
    --color_44: 251,251,251;
    --color_45: 50,50,50;
    --color_46: 50,50,50;
    --color_47: 200,200,200;
    --color_48: 0,180,216;
    --color_49: 0,180,216;
    --color_50: 251,251,251;
    --color_51: 251,251,251;
    --color_52: 0,180,216;
    --color_53: 0,180,216;
    --color_54: 168,167,167;
    --color_55: 168,167,167;
    --color_56: 251,251,251;
    --color_57: 251,251,251;
    --color_58: 0,180,216;
    --color_59: 0,180,216;
    --color_60: 0,180,216;
    --color_61: 0,180,216;
    --color_62: 251,251,251;
    --color_63: 251,251,251;
    --color_64: 168,167,167;
    --color_65: 168,167,167;
    --font_0: normal normal normal 68px/1.1em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    --font_1: normal normal bold 15px/1.1em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    --font_2: normal normal normal 32px/1.1em anton,sans-serif;
    --font_3: normal normal normal 46px/1.1em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    --font_4: normal normal normal 34px/1.3em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    --font_5: normal normal normal 33px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --font_6: italic normal normal 32px/1.3em cookie,cursive;
    --font_7: normal normal normal 22px/1.3em 'open sans condensed',sans-serif;
    --font_8: normal normal normal 16px/1.3em 'open sans condensed',sans-serif;
    --font_9: normal normal normal 15px/1.3em 'open sans condensed',sans-serif;
    --font_10: normal normal normal 12px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: 1px;
    --one-unit: 1vw;
}
a, abbr, acronym, address, applet, b, big, blockquote, button, caption, center, 
cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, 
h2, h3, h4, h5, h6, header, i, iframe, img, ins, kbd, label, legend, li, nav, 
object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, 
sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    background: transparent;
    border: 0;
    margin-top: 10px;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.VrZrC0, .cKxVkc {
    position: relative;
    width: 100%;
}
.VrZrC0 {
    text-align: center;
    line-height: 1em;
    font-size: 68px;
    font: var(--font_0);
    color: rgb(var(--color_17));
    letter-spacing: 0em;
    pointer-events: auto;
}
.BaOVQ8 {
    font-size: 38px;
    color: black!important;
    text-align: center;
    line-height: 1em;
    letter-spacing: 0em;
    pointer-events: auto;
}
ul {
    list-style-type: none;
    margin-bottom: 0px;
}
ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
}
.D5Vkxr {
    width: 245px;
    height: 33.4px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
    border: 2px solid black;
}
.fcNEqv {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 990px;
    height: auto;
    border: 2px solid black;
    border-top: none;
    position: relative;
    margin: 37px 0px 25px calc((100% - 980px) * 0.5);
    left: -6.5px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
#image {
    display: block;
    width: 760px;
    height: 520px;
    margin: 60px auto;
    transition: 0.3s;
    animation: change 20s infinite ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes change {
    0% {
        background-image: url(../image1.jpg);
    }
    33% {
        background-image: url(../image2.jpg);
    }
    66% {
        background-image: url(../image3.jpg);
    }
    100% {
        background-image: url(../image1.jpg);
    }
}
#contactUs {
    display: none;
}
#contactUs div input, #requestTo div input {
    margin-bottom: 1rem;
    width: 400px;
    align-content: center;
}
#contactUs div textarea, #requestTo div textarea {
    width: 400px!important;
    align-content: center;
}
#requestTo {
    display: none;
}
#aboutUs {
    display: none;
}
#sentence {
    text-align: left;
    position: relative;
    left: 40px;
}
#writs {
    font: var(--font_0);
    font-size: 2em;
    font-weight: unset;
    color: rgb(75, 25, 122);
    text-decoration: none;
    margin-top: 40px;
}
#writsH3 {
    font: var(--font_0);
    position: absolute;
    font-size: 3em;
}
#writsP {
    font: var(--font_5);
    font-weight: lighter;
    margin-top: 0px;
}
#aboutImg {
    float: right;
    position: relative;
    width: 400px;
    height: 480px;
    right: 80px;
}
.fR03cfW {
    clear: both;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.galery {
    height: 260px;
    width: 260px;
    margin-bottom: 60px;
    cursor: pointer;
}
#pictures {
    display: none;
    width: 960px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#pictures img {
    max-width: 920px;
}
#toTheTop {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}
#SITE_FOOTERinlineContent-gridContainer {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}
#WRchTxtj {
    margin-right: 30px;
}
.mpGTIt li {
    max-height: 20px;
    margin-left: 10px;
    margin-right: 10px ;
}
#WRchTxtc-1c89 {
    margin-left: 30px;
}